.cart_content {
	margin-top: 1.2rem;
	width: 100%;
	margin-bottom:1.1rem;
}

.cart_empty {
	margin-top: 0.2rem;
	height: 3.0rem;
}

.cart_empty img {
	width: 0.8rem;
	height: 0.62rem;
}

.cart_empty span {
	margin-left: 0.2rem;
}

.cart_content .cart_product_ul {
	width: 100%;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.cart_content .cart_product_ul li {
	max-width: 640px;
	padding-right: 0.2rem;
}

.cart_content .cart_product_ul li .checkbox {
	width: 0.3rem;
}

.cart_content .cart_product_ul li  img {
	width: 1.5rem;
	height: 1.5rem;
}

.product-buy-count {
	height: 0.6rem;
}

.minus {
	border-radius: 0.03rem 0 0 0.03rem;
}

.plus {
	border-radius: 0 0.03rem 0.03rem 0;
}

.minus,.plus {
	display: inline-block;
	height: 0.3rem;
	line-height: 0.3rem;
	width: 0.3rem;
	text-align: center;
}

.icount {
	border: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	height: 0.3rem;
	line-height: 0.3rem;
	text-align: center;
	width: 0.4rem;
	margin: 0;
	padding: 0;
}

.prev {
	background-image: url("../images/btn_sub.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	height: 0.15rem;
	width: 0.15rem;
	background-position: center center;
}

.next {
	background-image: url("../images/btn_add.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	height: 0.15rem;
	width: 0.15rem;
	background-position: center center;
}

.cart-calculate {
	position: fixed;
	bottom: 1.0rem;
	left: 0;
	right: 0;
	max-width: 640px;
	margin: 0 auto;
	height:0.9rem;
	text-align: center;
	line-height: 0.9rem;
	z-index: 10;
}
.cart-calculate .checkAll{
   margin-left: 0.2rem;	
}
.go-balance{
	width:100%;
	height:0.9rem;
}
.total-price{
   text-align: left;
   padding-left:0.4rem;
}
.total{
  margin-right:0.2rem;	
}
.product-quantity{
  text-align:right;	
}